/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  // padding: 0 0 0 5px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  // font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

/* Global Variables */
:root {
  --primary-color: rgba(0, 214, 170, .85);
  --hamburger-margin-left: 1em;
  --nav-item-margin-bottom: 1em;
  --nav-a-font-size: 1.2rem;
  --nav-height: 4em;
}

// --------------------------------------

.top-level__div-sort-arrows {
  border: 1px solid red;
  height: auto;
  width: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}


.top-level__link-text {
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

//--------------------------------- highlight --------------------------------------
$highlight-colors: (yellow: #ffc107,
  blue: #007bff,
  red: #dc3545,
  lightblue: lightblue,
  primary: var(--primary-color));

// Define the mixin to generate the highlight class
@mixin highlight($color) {
  .highlight-#{$color} {
    background-color: map-get($highlight-colors, $color);
    color: black;
    // padding: 0.1rem; // don't use this, otherwise, when highlighting with empty-line-after, there is an extra line!
  }
}

// Loop through the highlight colors map to generate the highlight classes dynamically
@each $color,
$value in $highlight-colors {
  @include highlight($color);
}

// .top-level__highlighted-blue {
//   background-color: #007bff;
//   color: #fff;
// }

// .top-level__highlighted-yellow {
//   background-color: yellow;
// }

// .hightlight {
//   background-color: yellow;
// }

.blue600 {
  color: blue;
  font-weight: 600;
}


//--------------------------------- empty line --------------------------------------

// Usage: <div class="empty-line"></div>
.empty-line {
  margin-bottom: 1em;
}


// Usage: <p class="empty-line">This is some text.</p>
.empty-line-before::before {
  content: '';
  display: block;
}

.empty-line-after::after {
  content: '';
  display: block;
  height: 1em;
}