<hr>

<div class="py-[20px]">
    <a class="text-green-500" routerLink="/posts">Posts (Test around ngrx signal store)</a>
</div>
<hr>

<section class="app-description">
    <div>
        <h1>Page Click Visualizer</h1>
        <p>Start clicking around the page...</p>
    </div>
</section>
<div>
    <button mat-stroked-button (click)="reset$.next(); $event.stopPropagation()">
        Reset State
    </button>
</div>
@for (click of clicks$ | async; track $index) {
<div [style.left.px]="click.clientX" [style.top.px]="click.clientY" class="click"></div>
}